@CHARSET "ISO-8859-1";

#outcome_div {
	margin-left: 2%;
	margin-bottom: 2em;
	margin-top: 32px;;
}

#header_row {
	margin-bottom: 0.5em;
}

form .outcome_col {
	width: 320px;
	margin-right: 6%;
}

.follow_up_div .follow_label {
	text-align: left;
	width:4.5em;
	margin: 0 1% 0 2%;
	display: inline-block;
	vertical-align: middle;
}

.follow_up_div {
	margin-bottom: 0.5em;
}